body{
	margin: 0;
	padding: 0;
}
div.container-fluid{
	background-image: url("../../img/background.jpg");
	padding: 0 !important;
	background-color: #EAEC23;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	height: 100vh;
	

	section.icons-left, section.icons-center, section.icons-right{
		height: 92vh;
		
	}

	section.icons-left{
		width: 450px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(8, 1fr);
		div.about-me-icon{
			text-align: center;
			padding: 0.5em;
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			
			i.fa-users{
				font-size: 3em;
				color: #71cf95;
				text-shadow: 2px 1px 2px #000000;
			}
			h6{
				color: #FFFFFF;
				text-shadow: 2px 1px 3px #000000;
				font-weight: 900;
			}
		}

		div.portfolio-icon{
			text-align: center;
			padding: 0.5em;
			grid-column: 1 / 2;
			grid-row: 2 / 3;
			i.fa-briefcase{
				font-size: 3em;
				color: #71cf95;
				text-shadow: 2px 1px 2px #000000;
				
			}
			h6{
				color: #FFFFFF;
				text-shadow: 2px 1px 3px #000000;
				font-weight: 900;
			}
		}
		div.blog-icon{
			text-align: center;
			padding: 0.5em;
			grid-column: 1 / 2;
			grid-row: 3 / 4;
			i.fa-book{
				font-size: 3em;
				color: #71cf95;
				text-shadow: 2px 1px 2px #000000;
				
			}
			h6{
				color: #FFFFFF;
				text-shadow: 2px 1px 3px #000000;
				font-weight: 900;
			}
		}
		div.contact-icon{
			text-align: center;
			padding: 0.5em;
			grid-column: 1 / 2;
			grid-row: 4 / 5;
			i.fa-phone{
				font-size: 3em;
				color: #71cf95;
				text-shadow: 2px 1px 2px #000000;
				
			}
			h6{
				color: #FFFFFF;
				text-shadow: 2px 1px 3px #000000;
				font-weight: 900;
			}
		}
		

		section.the-menu{
			display: none;
			border: 1px solid #1A1A1A;
			border-radius: 5px;
			background-color: rgba($color: #1a1a1a, $alpha: 0.8);
			grid-column: 1 / last-line;
			grid-row: 5 / 9;
			padding: 0.5em;

			section.the-sub-items{
				display: grid;
				grid-template-columns: auto;
				grid-template-rows: repeat(7, 50px);
				height: 100%;
				width: 60%;
				background-color: rgb(224, 224, 224);

				div.resume{
					font-size: 1.5em;
					line-height: 45px;
					
					i.fa-file{
						display: inline-block;
						vertical-align: middle;
						padding: 0.5em;
					}
					h6{
						display: inline-block;
						vertical-align: middle;
						margin-left: 20px;

					}
				}
			}
		}
	}

	section.icons-center{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(8, 1fr);
		
	}

	section.icons-right{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(8, 1fr);
	}

	section.bar{
		display: grid;
		grid-template-columns: repeat(10, auto);
		opacity: 0.9;
		background-color: #1A1A1A;
		grid-column-start: 1;
		grid-column-end: 4;
		color: #FFFFFF;
		font-size: 2em;
		align-items: center;

		i.menu{
			cursor: pointer;
			margin-left: 10px;
		}

		section.timeanddate{
			font-weight: bold;
			font-size: 0.5em;
			grid-column: 14 / span 1;
			span.time{
				border-right: 1px solid #FFFFFF;
				padding-left: 1em;
				padding-right: 1em;
			}
			span.date{
				padding-left: 1em;
				
			}

			
		}
	}
}





